body {
    background-repeat: no-repeat;
    background-size: auto;
    background-color: rgb(24, 24, 24);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.image {
    height: 30%;
    width: 30%;
    left: 35%;
    position: relative;
}

#invisiblePoint {
    position: absolute;
    top: 132vw;
}

.aboutMe {
    text-align: center;
    color: white;
    font-family: 'Megrim', cursive;
    /* font-size: 10vw; */
    font-weight: bolder;
    position: fixed;
    left: 0vw;
    top: 10vw;
}

.textBody {
    position: absolute;
    top: 26vw;
    left: 0;
    width: 79vw;
    margin-left: 8vw;
    text-align: center;
    color: white;
    font-family: 'Jura', sans-serif;
    line-height: 2.4;
    font-size: 2.7vmin;
}

.card-img-overlay {
    position: absolute;
    top: 0vw;
    background-position: center;
    background-image: url("/assets/img/coffee.jpg");
    background-attachment: fixed;
    background-size: 140vw;
    width: 100%;
    height: 45vw;
    padding: 0;
    margin: 0;
}

#portfolio {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 40%;
    background:rgb(34, 34, 34);
    background: transparent;
    font-size: 6vw;
}

.idForm {
    position: absolute;
    top: 235vw;
    left: 2vw;
}

.spacing {
    margin: 65vw;
}

.myWork {
    position: absolute;
    top: 160vw;
    color: white;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    height: 30vw;
    font-size: 6vw;
    font-family: 'Megrim', cursive;
    font-weight: bolder;
}

.navbar {
    padding: 0 !important;
    margin-bottom: 32px !important;
    padding-bottom: 0px !important;
    margin-left: 0px !important;
    text-indent: 10px;
    position: fixed;
    z-index: 999;
    width: 100vw;
    background-color: rgba(24, 24, 24, 0.8);

}

.navbar-brand {
    font-weight: bolder;
}

.portfolioCarousel {
    position: absolute;
    top: 130vw;
}

.d-block {
    width: 99vw;
    height: 80vw;
}

#button1 {
  border-style: solid;
  border-color: black;
  width: auto;
}

#button2 {
  border-style: solid;
  border-color: black;
  width: auto;
}

#submitButton {
    height: 4rem;
    margin-left: 6vw;
    width: 35vw;
}

#resumeButton {
    margin-left: 7vw;
    font-size: 1.2rem;
    top: 205vw;
    height: 4.2rem;
    width: 35vw;
    background-color:rgb(24, 24, 24);
    border-color: rgb(24, 24, 24);
    color: white;
    text-align: center;
    border-radius: 4px;
    line-height: 4rem;
}

#resumeButton:hover {
    background-color: rgb(12, 12, 12);
}

.needs-validation {
    color: white;
    margin: 3%;
}

.was-validated {
    color: white;
    margin: 3%;
}

#icons {
    color:rgb(28, 207, 198);
    position: fixed;
    left: 90vw;
    top: 20vmin;
    width: 4vw;
    height: 18vw;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    background-color: rgba(24, 24, 24, 0.8);
    font-size: 3vw;
}

#instaIcon {
    padding: 2%;
    font-size: 3vw;
    /* top: 90%; */
}

#facebookIcon {
    padding: 2%;
    font-size: 3vw;
    /* top: 90%; */
}

#githubIcon {
    padding: 2%;
    font-size: 3vw;
    /* top: 90%; */
}

#linkedinIcon {
    padding: 2%;
    font-size: 3vw;
}

a {
    color:rgb(28, 207, 198);
}

a:hover {
    color:rgb(20, 150, 143);
}

.contactMe {
    color:rgb(20, 150, 143);
    font-size: 23vw;
    position: absolute;
    top: 207vw;
    font-family: 'Megrim', cursive;
    font-weight: bolder;
    left: 1vw;
}

.barkle {
    position: absolute;
    top: 143vw;
    color: white;
    left: 20vw;
    font-family: 'Jura', sans-serif;
    font-size: 2vw;
}

.bingeterest {
    position: absolute;
    top: 166vw;
    color: white;
    left: 70vw;
    font-family: 'Jura', sans-serif;
    font-size: 2vw;
    text-align: right;
    float: right;
}

.tbr {
    position: absolute;
    top: 188vw;
    color: white;
    left: 20vw;
    font-family: 'Jura', sans-serif;
    font-size: 2vw;
}

#bottom {
    position: absolute;
    top: 205vw;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 78vmax;
    background-color:rgb(51, 51, 51);
    opacity: 0.5;
}

#whiteLine {
    position: absolute;
    top: 209vw;
    width: 75%;
    height: 1px;
    background-color: white;
    left: 12vw;
}

/* got effect from https://www.codingnepalweb.com/2020/05/text-glitch-effect-in-html-css.html */
/* I changed a few aspects of the code to reflect how I wanted it to be shown on the page */
.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content .text{
    position: relative;
    color:rgb(255, 255, 255);
    font-weight: 650;
    font-size: 3.5vw;
    transform: scale(2);
    padding: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .content .text:before,
  .content .text:after {
    padding: 30px;
    color: white;
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    background:  rgb(24, 24, 24);
    overflow: hidden;
    top: 0;
  }
  .content .text:before{
    left: 3px;
    text-shadow: -2px 0 red;
    animation: glitch-1 2s linear infinite reverse;
  }
  .content .text:after{
    left: -3px;
    text-shadow: -2px 0 blue;
    animation: glitch-2 2s linear infinite reverse;
  }

  @keyframes glitch-1 {
    0% {
      clip: rect(132px, auto, 101px, 30px);
    }
    5% {
     clip: rect(132px, auto, 101px, 30px);
    }
    10% {
        clip: rect(132px, auto, 101px, 30px);
    }
    15% {
        clip: rect(132px, auto, 101px, 30px);
    }
    20% {
        clip: rect(132px, auto, 101px, 30px);
    }
    25% {
        clip: rect(132px, auto, 101px, 30px);
    }
    30% {
        clip: rect(132px, auto, 101px, 30px);
    }
    35% {
        clip: rect(132px, auto, 101px, 30px);
    }
    40% {
        clip: rect(132px, auto, 101px, 30px);
    }
    45% {
        clip: rect(132px, auto, 101px, 30px);
    }
    50% {
        clip: rect(132px, auto, 101px, 30px);
    }
    55% {
        clip: rect(132px, auto, 101px, 30px);
    }
    60% {
        clip: rect(132px, auto, 101px, 30px);
    }
    65% {
        clip: rect(132px, auto, 101px, 30px);
    }
    70% {
        clip: rect(132px, auto, 101px, 30px);
    }
    75% {
        clip: rect(132px, auto, 101px, 30px);
    }
    80% {
        clip: rect(132px, auto, 101px, 30px);
    }
    85% {
        clip: rect(132px, auto, 101px, 30px);
    }
    90% {
      clip: rect(36px, auto, 128px, 30px);
    }
    95% {
      clip: rect(68px, auto, 103px, 30px);
    }
    100% {
      clip: rect(14px, auto, 100px, 30px);
    }
  }
  @keyframes glitch-2 {
    0% {
      clip: rect(129px, auto, 36px, 30px);
    }
    5% {
        clip: rect(129px, auto, 36px, 30px);
    }
    10% {
        clip: rect(129px, auto, 36px, 30px);
    }
    15% {
        clip: rect(129px, auto, 36px, 30px);
    }
    20% {
        clip: rect(129px, auto, 36px, 30px);
    }
    25% {
        clip: rect(129px, auto, 36px, 30px);
    }
    30% {
        clip: rect(129px, auto, 36px, 30px);
    }
    35% {
        clip: rect(129px, auto, 36px, 30px);
    }
    40% {
        clip: rect(129px, auto, 36px, 30px);
    }
    45% {
        clip: rect(129px, auto, 36px, 30px);
    }
    50% {
        clip: rect(129px, auto, 36px, 30px);
    }
    55% {
        clip: rect(129px, auto, 36px, 30px);
    }
    60% {
        clip: rect(129px, auto, 36px, 30px);
    }
    65% {
        clip: rect(129px, auto, 36px, 30px);
    }
    70% {
        clip: rect(129px, auto, 36px, 30px);
    }
    75% {
        clip: rect(129px, auto, 36px, 30px);
    }
    80% {
        clip: rect(129px, auto, 36px, 30px);
    }
    85% {
        clip: rect(129px, auto, 36px, 30px);
    }
    90% {
      clip: rect(67px, auto, 70px, 30px);
    }
    95% {
      clip: rect(71px, auto, 103px, 30px);
    }
    100% {
      clip: rect(83px, auto, 40px, 30px);
    }
  }

a { 
  color: white; 
  text-decoration: none; 
}

.arrow {
  text-align: center;
  margin: 8% 0;
  position: relative;
  top: 55vmin;
  left: 0vw;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}