 <div id="header">
  <div class="content">
        <h5 class="aboutMe text" id="glitch" data-text="Welcome">Welcome</h5>
    </div>

        <p class="textBody">Welcome to my page! I have been coding since late
        2020 and the passion to push myself and continue growing in my skills hasn't stopped since. I
        love the coding field and how it is always changing. I am a passionate board game enthusiast and
        as such, I love a challenge and the thrill of continually pushing myself to develop new skills
        and fine tuning what I'm good at.</p>

<div class="arrow bounce">
  <a class="fa fa-arrow-down fa-2x" href="#invisiblePoint"></a>
</div>
</div>

<div class="spacing"></div>

<div class="card bg-dark text-white" style="width: 100%">
  <img src="" class="card-img" alt="" style="width: 10;">
  <div class="card-img-overlay">
    <h5 class="card-title" id="portfolio"></h5>
  </div>
</div>

<div id="invisiblePoint"></div>

<div class="myWork">
    <p>My work</p>
</div> 
{{!-- Code for current and past coding projects --}}
<div class="barkle" data-aos="zoom-in-right" data-aos-duration="1400">
    <img src="/assets/img/barkle.png" style="width: 15vw">
    <p style="position: absolute; top: 0vw; left: 18vw; width: 50vw">A social media network designed for dog owners that allows users to create event and meet up to allow their dogs to play together.</p>
    <a style="position: absolute; top: 10vw; left: 18vw; width: 12vw" href="https://barkle.herokuapp.com/">View Page</a>
    <a style="position: absolute; top: 14vw; left: 18vw; width: 12vw" href="https://github.com/Jpeyton-hub/Barkle">View code</a>

</div>

<div class="bingeterest" data-aos="zoom-in-left" data-aos-duration="1400">
    <img src="/assets/img/bingeterest.png" style="width: 20vw">
    <p style="position: absolute; top: 0vw; left: -50vw; width: 50vw">A webpage that helps users find movies/tv shows to watch according to their specific preferences and media subscriptions.</p>
    <a style="position: absolute; top: 10vw; left: -12vw; width: 12vw" href="https://landonross.github.io/Bingeterest/">View Page</a>
    <a style="position: absolute; top: 14vw; left: -12vw; width: 12vw" href="https://github.com/landonross/Bingeterest">View code</a>

</div>

<div class="tbr" data-aos="zoom-in-right" data-aos-duration="1400">
    <img src="/assets/img/tbr.png" style="width: 15vw">
    <p style="position: absolute; top: 0vw; left: 18vw; width: 50vw">Webpage 100% coded and designed by me for a realtor couple and their business.</p>
    <a style="position: absolute; top: 6vw; left: 18vw; width: 16vw" href="">Coming Soon</a>
    <a style="position: absolute; top: 10vw; left: 18vw; width: 16vw" href="">Coming Soon</a>

</div>

<hr id="bottom">
<p class="contactMe">CONTACT</p>
<div class="idForm">
   <form action="https://submit-form.com/ScahwqKy" class="needs-validation">
        <div class="form-row">
            <div class="col-sm-6 mb-3">
                <label for="validationTooltip01">Name</label>
                <input type="text" class="form-control" id="validationTooltip01" name="name" placeholder="Joe Johnson" value="" required>
                <div class="valid-tooltip">
                </div>
            </div>
            <div class="col-sm-6 mb-3">
                <label for="validationTooltip02">Email</label>
                <input type="text" class="form-control" id="validationTooltip02" name="email" placeholder="123@gmail.com"value="" required>
                <div class="valid-tooltip">
                </div>
            </div>
        <div class="mb-3">
            <label for="validationTextarea">Message</label>
            <textarea class="form-control" id="validationTextarea" style="width:91vw; height: 15vw;" name="message" placeholder="I'm looking to create a page that..." required></textarea>
        </div>
        <button class="btn btn-primary" type="submit" id="submitButton">Submit form</button>
        <a class="fa fa-download" id="resumeButton" href="/assets/img/landonResume.pdf" download="LandonResume">Download Resume</a>
        </div>
    </form>
    </div>

{{!--Code for the right side nav bar that links to social media and github--}}
    <footer id="icons">
        <a href="https://www.instagram.com/landon.w.ross/?hl=en"><span class="fa fa-instagram fa-2x" id="instaIcon"
                aria-hidden="true"></span></a>
        <a href="https://www.facebook.com/landonwayneross"><span class="fa fa-facebook fa-2x" id="facebookIcon"
                aria-hidden="true"></span></a>
        <a href="https://github.com/landonross"><span class="fa fa-github fa-2x" id="githubIcon"
                aria-hidden="true"></span></a>
        <a href="https://www.linkedin.com/in/landon-ross-433a5213a/"><span class="fa fa-linkedin fa-2x"
                id="linkedinIcon" aria-hidden="true"></span></a>
    </footer>

